/*KodeGo WD58P Joshua Tobongbanua MiniProject1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
    line-height: 1.5;
}

#navbar {
    margin-top: -60px;
    overflow: hidden;
    background: linear-gradient(#160138a9, #7596de00);
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.nav-set {
    margin-left: 25px;
    margin-right: 25px;
}

#navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    font-weight: bold;

    --b: 0.2em;
    /* the thickness of the line */
    --c: #00bfff;
    /* the color */

    color: #0000;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #ffffff 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

#navbar a:hover {
    --_p: 100%;
    --_s: .3s;
}

#navbar #logo {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding-top: 32px;
    transition: 0.4s;
}

.sta_logo {
    max-width: 100px;
    transition: 0.4s;
    float: left;
}


/*
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: dodgerblue;
    color: white;
}
 */
#navbar-right {
    float: right;
}

@media screen and (max-width: 1024px) {
    header img#students {
        z-index: 0;
        left: 100px !important;
        overflow: visible;
    }
}

@media screen and (max-width: 768px) {
    header img#students {
        z-index: 0;
        left: 120px !important;
        overflow: visible;
    }

    .sta_logo {
        max-width: 100px !important;
        margin-top: 1px !important;
        transition: 0.4s;
        float: left;
    }

    #navbar #logo {
        color: #fff;
        font-size: 25px !important;
        font-weight: bold;
        padding-top: 40px !important;
        padding-left: 10px !important;
        transition: 0.4s;
    }
}

@media screen and (max-width: 580px) {
    header img#students {
        z-index: 0;
        left: 260px !important;
        overflow: visible;
    }

    #navbar {
        padding: 20px 10px !important;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;
        font-size: 5px !important;
    }

    #navbar-right {
        float: none;
    }

    .sta_logo {
        max-width: 100px !important;
        margin-top: 35px !important;
        transition: 0.4s;
        float: left;
    }

    #navbar #logo {
        color: #fff;
        font-size: 20px !important;
        font-weight: bold;
        padding-top: 75px !important;
        padding-left: 110px !important;
        transition: 0.4s;
    }
}

@media screen and (max-width: 425px) {
    .sta_logo {
        max-width: 60px !important;
        margin-top: 35px !important;
        transition: 0.4s;
        float: left;
    }

    #navbar #logo {
        color: #fff;
        font-size: 16px !important;
        font-weight: bold;
        padding-top: 53px !important;
        padding-left: 70px !important;
        transition: 0.4s;
    }
}

@media screen and (max-width: 375px) {
    .sta_logo {
        max-width: 30px !important;
        margin-top: 32px !important;
        transition: 0.4s;
        float: left;
    }

    #navbar #logo {
        color: #fff;
        font-size: 10px !important;
        font-weight: bold;
        padding-top: 35px !important;
        padding-left: 40px !important;
        transition: 0.4s;
    }
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg,
            #0a0142fb 0%,
            #ffffff00 100%);
    z-index: 1000;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

header img#logo {
    mix-blend-mode: screen;
}

header img#students {
    z-index: 0;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


@keyframes cloud {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(25px, 0px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.students {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.clouds {
    animation-name: cloud;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.sec {
    position: relative;
    padding: 100px;
    min-height: 100vh;
    background-color: #0a0142;
}

.sec:nth-child(even) {
    position: relative;
    padding: 100px;
    min-height: 100vh;
    background-color: #30aee8;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}

.sec p {
    font-size: 1em;
    color: #fff;
}

footer a{
    text-decoration: none;
}