/*KodeGo WD58P Joshua Tobongbanua MiniProject1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, #ffffff00 0%, #03030370 100%, transparent);
    transition: 0.5s
}

.navbar-toggler-con {
    border: none !important;
}


@media screen and (max-width: 375px) {
    .sta_logo {
        width: 50px;
    }

    .navbar-brand {
        font-size: 16px !important;
    }
}

.sta_logo {
    max-width: 70px;
    margin-right: 15px;
    transition: 0.5s;
}

.navbar a {
    color: #fff;
}

#logo {
    transition: 0.5s;
}


@media screen and (max-width: 990px) {
    .navbar-collapse {
        margin-top: 20px;
        text-align: center;
        background-color: rgba(0, 102, 255, 0.863);
        border-radius: 10px;
        box-shadow: 0px 0px 50px 1px;
    }

    .nav-item {
        padding: 20px;
    }

    .navbar-brand {
        padding-right: 500x;
        font-weight: bold;
    }
}

.main-back {
    background-image: url(../assets/img/sky-background.jpg);
    height: 100vh;
}

.nav-effect a {
    text-decoration: none;
    line-height: 25px;
    font-weight: bold;

    --b: 0.2em;
    /* the thickness of the line */
    --c: #00fff2;
    /* the color */

    color: #0000 !important;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #ffffff 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.nav-effect a:hover {
    --_p: 100%;
    --_s: .3s;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg,
            #0a0142fb 0%,
            #ffffff00 100%);
    z-index: 1000;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

header img#logo {
    mix-blend-mode: screen;
}

header img#students {
    z-index: 0;
}



@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


@keyframes cloud {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(50px, -0px);
    }

    100% {
        transform: translate(px, 0px);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.students {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.clouds {
    animation-name: cloud;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.shake {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.test {
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#myVideo {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

@media screen and (max-width: 990px) {
    #myVideo {
        max-width: unset;
        max-height: 100vh;
    }
}

.content {
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100vh;
    padding: 300px;
    z-index: -9;

}

.content1 {
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    text-align: center;
    z-index: -9;

}

.content1-text h1 {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
}

.content1-text h1 div {
    transition: 0.5s ease-out;
}

.content1-text h1:hover div:nth-child(1) {
    margin-bottom: 100px;
}

.content1-text h1:hover div:nth-child(2):after {
    content: "Theresian Catholic";
    text-shadow: 0 0 10px #fbff00, 0 0 10px #fff, 0 0 50px #fff;
    margin-left: 30px;
}

.content1-text h1:hover div:nth-child(3) {
    margin-top: 100px;
}

.content1-text h1:hover div {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.content1 {
    background: linear-gradient(90deg, #8a0197e7 50%, #ffffff67 100%);
}

.content2 {
    background: linear-gradient(90deg, #039172e8 30%, #ffffff67 100%);
}


.global-back {
    background-image: url(../assets/img/grad.webp);
    background-size: cover;
}

.sec {
    position: relative;
    padding: 100px 50px;
    min-height: 100vh;
    background-color: #0a0142;
}

.sec:nth-child(even) {
    position: relative;
    padding: 100px 50px;
    min-height: 100vh;
    color: #2e2d2d !important;
    background-color: #30aee8c0;
}

.sec h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;

}

.sec p {
    font-size: 1em;
    color: #fff;
}

footer a {
    text-decoration: none;
}

#announce {
    padding-top: 57px;
    
}

#admission {
    background-image: url(../assets/img/global.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}